body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: rgb(121, 219, 158);
    padding: 0.8rem 4rem 0.7rem 3rem;
    margin-block-end: 0.30rem;
    view-transition-name: match-element;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40px;
      border: 0;
      background: lch(100% 0 0 / 75%);
      display: grid;
      place-items: center;

      &:focus,
      &:hover {
        background: lch(30.34% 64.62 37.4 / 0.75);
      }

      &:disabled {
        svg,
        & {
          opacity: 0.25;
        }
      }

      svg {
        width: 100%;
        view-transition-name: match-element;
      }
    }
  }
}

::view-transition-group(*) {
  animation-duration: 2s;
}

::view-transition-old(woosh),
::view-transition-new(woosh) {
  animation: woosh 1s ease-in-out;
}

::view-transition-old(tony-hawk),
::view-transition-new(tony-hawk) {
  animation: tony-hawk 1s ease-in-out;
}

@keyframes tony-hawk {
  50% {
    rotate: 20deg;
    scale: 2.5;
  }
}

@keyframes woosh {
  50% {
    translate: -100px 0;
    scale: 1.5;
    box-shadow: 0 35px 20px lch(0% 0 0 /  60%);
  }
}

.top-bar {
  position: fixed; 
  top: 30px;
  right: 30px;
  z-index: 100;
}

.color-change-btn {
  height: 60px;
  width: 60px;
  padding: 11px;
  border: none;
  background-color: rgb(206, 196, 196);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(149, 124, 124, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.color-change-btn:hover {
  background-color: #137e27;
  transform: scale(1.05);
}

.color-change-btn svg {
  width: 24px;
  height: 24px;
  fill: black;
}
